<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Página de inicio</title>
  <link rel="stylesheet" href="../static/css/app.css"> <!-- misma hoja que login -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="container">
  <div class="welcome-card">
    <i class="fa-solid fa-user-astronaut icon-user"></i>
    <h1>Bienvenido, {{ nombre_usuario }}</h1>
    <p>¡Nos alegra verte de vuelta!</p>
    <div class="icons-row">
      <i class="fa-solid fa-mug-hot"></i>
      <i class="fa-solid fa-rocket"></i>
      <i class="fa-solid fa-laugh-beam"></i>
    </div>
  </div>
</div>

</body>
</html>
