<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Registro / Login Deslizante</title>
<link rel="stylesheet" href="../static/css/app.css">
</head>
<body>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="error-msg">
      {{ messages[0] }}
    </div>
  {% endif %}
{% endwith %}

<div class="container">
  <div class="slider" id="slider">
    <form id="loginForm" action="/login" method="POST" autocomplete="off">
      <h2>Iniciar sesión</h2>
      <input type="email" name="email" placeholder="Correo electrónico" required />
      <input type="password" name="password" placeholder="Contraseña" required />
      <button type="submit">Entrar</button>
    </form>

    <form id="registerForm" autocomplete="off">
      <h2>Crear cuenta</h2>
      <input type="text" name="user" placeholder="Nombre completo" required />
      <input type="email" name="email" placeholder="Correo electrónico" required />
      <input type="password" name="password" placeholder="Contraseña" required />
      <input type="password" placeholder="Confirmar contraseña" required />
      <button type="submit">Registrarse</button>
    </form>
  </div>
</div>

<div class="toggle-btn" id="toggleText">
  ¿No tienes cuenta? <span id="toggleLink">Regístrate</span>
</div>

<script src="../static/js/app.js"></script>

</body>
</html>
